<header class="hero mdc-layout-grid">
  <div class="mdc-layout-grid__inner panels"> {%- for page in site.mathematics -%}
    <div id="upper-panel-{{ forloop.index }}" class="mdc-layout-grid__cell--span-9 panel {%- if page.level == "C" %} active {%- endif -%}" role="tabpanel">
      <h1 class="mdc-typography--headline3">{{ page.title }}</h1>
      <p class="mdc-typography--subtitle1">{{ page.content | remove: "<p>" | remove: "</p>" }}</p>
    </div> {%- endfor -%}
  </div>
</header>
<!-- unwrap and add mdc-scroller -->
<div class="mdc-tab-bar-wrapper">
  <nav id="dynamic-tab-bar" class="mdc-tab-bar" role="tablist"> {%- for page in site.mathematics -%}
    <a class="mdc-tab mdc-tab{%- if page.level == "C" -%}--active{%- endif -%}" role="tab" aria-controls="panel-{{ forloop.index }}" href="#panel-{{ forloop.index }}">Level {{ page.level }} ({{ page.grade }})</a> {% if forloop.last %}
    <span class="mdc-tab-bar__indicator"></span> {%- endif -%} {%- endfor -%}
  </nav>
</div>
