body {
  margin: 0;
  display: flex;
  height: 100vh;
  @include mdc-theme-prop(background-color, background, true, false);
  @include mdc-theme-prop(color, text-primary-on-background, true, false);

  &#index {
    align-items: center;
  }
}

main {
  flex: auto;
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
}

.mdc-select {
  width: 100%;
}
