body {
  margin: 0;
  display: flex;
  height: 100vh;
  @include mdc-theme-prop(background-color, background, true);
  @include mdc-theme-prop(color, text-primary-on-background, true);

  &#index {
    align-items: center;
  }
}

main {
  flex: auto;
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
}

.mdc-select {
  width: 100%;
}

sup {
  line-height: 0;
}

p {
  @include mdc-typography(body1);
}

p > em > a {
  @include mdc-typography(body2);
  @include mdc-theme-prop(color, text-secondary-on-background, true);
}

h1 {
  @include mdc-typography(headline3);
}

h2 {
  margin-top: 5rem;
  @include mdc-typography(headline4);

  & ~ p {
    margin-bottom: 3em;
    @include mdc-typography(subtitle2);
    @include mdc-theme-prop(color, text-secondary-on-background, true);
    text-transform: uppercase !important;
  }
}
