$mdc-theme-primary: #e91e63; // baseline pink, 500 tone
$mdc-theme-secondary: #311b92; // baseline deep-purple, 900 tone
$mdc-theme-background: rgba(0,0,0,0.87);
$mdc-theme-surface: rgba(0,0,0,0.1);

// default subject colors
$theme-english-primary: #FFEB3B; // baseline yellow, 500 tone
$theme-mathematics-primary: #ff5722; // baseline deep-orange, 500 tone
$theme-reading-primary: #2196f3; // baseline blue, 500 tone
$theme-science-primary: #673ab7; // baseline deep-purple, 500 tone
$theme-social-studies-primary: #4caf50; // baseline green, 500 tone
$theme-writing-primary: #f44336; // baseline red, 500 tone

$mdc-layout-grid-max-width: 1280px;
$mdc-layout-grid-default-column-span: 12;

$mdc-typography-font-family: unquote("-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol");
$mdc-typography-styles-body1: (
  line-height: 1.67rem,
);

$mdc-drawer-width: 320px; // default 256px

@charset "UTF-8";
@import "material-web-components";

@import "default";
@import "mdc-card";
@import "mdc-layout-grid";
