$mdc-theme-primary: #e91e63; // baseline pink, 500 tone
$mdc-theme-secondary: #311b92; // baseline deep-purple, 900 tone
$mdc-theme-background: rgba(0,0,0,0.87);
$mdc-theme-surface: rgba(0,0,0,0.87);

$mdc-layout-grid-max-width: 1280px;
$mdc-layout-grid-default-column-span: 12;

$mdc-typography-font-family: unquote("-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol");
$mdc-typography-styles-body1: (
  line-height: 1.67rem,
);
$mdc-typography-styles-overline: (
  line-height: 1rem,
);

$mdc-drawer-width: 320px; // default 256px

@charset "UTF-8";
@import "material-web-components";

@import "default";
@import "mdc-card";
@import "mdc-layout-grid";

// default subject colors
#mathematics {
  --mdc-theme-primary: #ff5722; // baseline deep-orange, 500 tone
  --mdc-theme-secondary: #4d4d4d;
}

#reading {
  --mdc-theme-primary-reading: #2196f3; // baseline blue, 500 tone
  --mdc-theme-secondary: #4d4d4d;
}

#science {
  --mdc-theme-primary: #673ab7; // baseline deep-purple, 500 tone
  --mdc-theme-secondary: #4d4d4d;
}

#social-studies {
  --mdc-theme-primary: #4caf50; // baseline green, 500 tone
  --mdc-theme-secondary: #4d4d4d;
}

#writing {
  --mdc-theme-primary: #f44336; // baseline red, 500 tone
  --mdc-theme-secondary: #4d4d4d;
}
