.mdc-card {
  margin-bottom: 16px;
  @include mdc-card-fill-color(transparent);
  @include mdc-card-outline(primary, 1px);
  & dt, dd {
    margin: 0;
    padding: 0 8px;
  }
  &[data-ccss*="cc"], &[data-ccss*="oa"], &[data-ccss*="nbt"],
  &[data-ccss*="nf"], &[data-ccss*="md"], &[data-ccss*="g"],
  &[data-ccss*="rp"], &[data-ccss*="ns"], &[data-ccss*="ee"],
  &[data-ccss*="f"], &[data-ccss*="sp"] {
    --mdc-theme-primary: #{$theme-mathematics-primary};
    @include mdc-card-outline($theme-mathematics-primary, 1px);
  }
  &[data-ccss^="ri"], &[data-ccss^="rl"] {
    --mdc-theme-primary: #{$theme-reading-primary};
    @include mdc-card-outline($theme-reading-primary, 1px);
  }
  &[data-ccss^="rst"] {
    --mdc-theme-primary: #{$theme-science-primary};
    @include mdc-card-outline($theme-science-primary, 1px);
  }
  &[data-ccss^="whst"], &[data-ccss^="rh"] {
    --mdc-theme-primary: #{$theme-social-studies-primary};
    @include mdc-card-outline($theme-social-studies-primary, 1px);
  }
  & + p {
    margin-top: 5rem;
  }
}

section > h2 {
  margin-top: 5rem;
}

h2 ~ .mdc-typography--subtitle2 {
  margin-bottom: 3em;
  color: var(--mdc-theme-text-secondary-on-background);
  text-transform: uppercase;
}

.mdc-card__primary {
  box-sizing: border-box;
  min-height: 52px;
  margin: 0;
  padding: 8px;
  & dt {
    @include mdc-typography(headline6);
    @include mdc-theme-prop(color, text-primary-on-background, true, true);
  }
  & dd {
    @include mdc-typography(body1);
    @include mdc-theme-prop(color, text-primary-on-background, true, true);
    padding-top: 16px;
  }
}
