---
# required for sass processing
---
body {
  margin: 0;
}
.hero {
    //display: flex;
    //flex-flow: row nowrap;
    //align-items: center;
    //justify-content: center;
    min-height: 50vh;
    background-color: rgba(0, 0, 0, 0.05);
}

.mdc-tab-bar {
  margin: 0 !important;
}
.dots .dot, .panels .panel {
  display: none;
  &.active {
    display: block;
  }
}
