<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body class="mdc-typography">

  {%- if page.collection == "english" -%}
  {% assign CCRStandards = site.data.CCRStandardsAdultEd["English"] |
  where_exp: "item", "item.CCRS == page.CCRS" |
  group_by: "Domain" -%}

  {%- if page.collection == "language" -%}
  {% assign CCRStandards = site.data.CCRStandardsAdultEd["Language"] |
  where_exp: "item", "item.CCRS == page.CCRS" |
  group_by: "Domain" -%}

  {%- elsif page.collection == "mathematics" -%}
  {% assign CCRStandards = site.data.CCRStandardsAdultEd["Mathematics"] |
  where_exp: "item", "item.CCRS == page.CCRS" |
  group_by: "Domain" -%}

  {% assign TEXT = site.data.CCRSMathCorrelations["Mathematics Text"] |
  where_exp: "item", "item.CCRS == page.CCRS" |
  group_by: "Standard" -%}

  {% assign KHAN = site.data.CCRSMathCorrelations["Khan Academy"] |
  where_exp: "item", "item.CCRS == page.CCRS" |
  group_by: "Standard" -%}

  {%- elsif page.collection == "reading" -%}
  {% assign CCRStandards = site.data.CCRStandardsAdultEd["Reading"] |
  where_exp: "item", "item.CCRS == page.CCRS" |
  group_by: "Domain" -%}

  {% assign englishAlignments = site.data.CCRStandardsAdultEd["English"] |
  where_exp: "item", "item.CCRS == page.CCRS" |
  group_by: "rStandards" -%}

  {% assign TEXT = site.data.CCRSReadingCorrelations["Reading Text"] |
  where_exp: "item", "item.CCRS == page.CCRS" |
  group_by: "Standard" -%}

  {%- elsif page.collection == "writing" -%}
  {% assign CCRStandards = site.data.CCRStandardsAdultEd["Writing"] |
  where_exp: "item", "item.CCRS == page.CCRS" |
  group_by: "Domain" -%}

  {% assign englishAlignments = site.data.CCRStandardsAdultEd["English"] |
  where_exp: "item", "item.CCRS == page.CCRS" |
  group_by: "wStandards" -%}

  {% assign TEXT = site.data.CCRSReadingCorrelations["Reading Text"] |
  where_exp: "item", "item.CCRS == page.CCRS" |
  group_by: "Standard" -%}

  {%- endif -%}

  <aside class="mdc-drawer mdc-top-app-bar--fixed-adjust">
    <div class="mdc-drawer__header">
      <!-- h2 class="mdc-drawer__title">{{ page.collection | capitalize }}</h2 -->
      <div class="mdc-select mdc-select--outlined">
        <i class="mdc-select__dropdown-icon"></i>
        <select id="nav1" class="mdc-select__native-control" name="nav1">
          <option value=""></option>
          {%- for collection in site[page.collection] -%}
          <option value="{{ collection.url | relative_url }}" {%- if page.url==collection.url %} selected {%- endif -%}>
            {{ "Level " | append: collection.CCRS }}
          </option>
          {%- endfor -%}
        </select>
        <div class="mdc-notched-outline mdc-notched-outline--notched">
          <div class="mdc-notched-outline__leading"></div>
          <div class="mdc-notched-outline__notch">
            <label class="mdc-floating-label {%- if page.url==collection.url %} mdc-floating-label--float-above {%- endif -%}" for="nav1">{{ page.collection | capitalize }} Standards</label>
          </div>
          <div class="mdc-notched-outline__trailing"></div>
        </div>
      </div>
    </div>
    <div class="mdc-drawer__content">
      <nav class="mdc-list mdc-list--two-line" role="listbox" aria-labelledby="nav2">
        <h3 id="nav2" class="mdc-list-group__subheader">Standard Domains</h3>
        {%- for sDataDomain in CCRStandards -%}
        <a class="mdc-list-item" href="#level-{{ page.level }}-{{ sDataDomain.name | slugify }}" role="option" {%- if forloop.first %} tabindex="0" {%- endif -%}>
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">send</i>
          <span class="mdc-list-item__text">
            <span class="mdc-list-item__primary-text">{{ sDataDomain.name }}</span>
            <span class="mdc-list-item__secondary-text">{%- if page.grade -%} {{ "Grades " | append: page.grade }} {%- elsif page.ELP -%} {{ "Level " | append: page.ELP }} {%- endif -%}</span>
          </span>
        </a>
        {%- endfor -%}
      </nav>
    </div>
  </aside>

  <div class="mdc-drawer-app-content">
    <header class="mdc-layout-grid mdc-typography--body1">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell">
          <h1 class="mdc-typography--headline3">{{ page.title }}</h1>
          {{ content }}
        </div>
      </div>
    </header>

    <main class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell">

          {%- for sDataDomain in CCRStandards -%}
          <section id="level-{{ page.level }}-{{ sDataDomain.name | slugify }}">
            <h2 class="mdc-typography--headline4">{{ sDataDomain.name }}</h2>

            {%- assign sDataStatements = sDataDomain.items | group_by: "Statement" -%}
            {%- for sDataStatement in sDataStatements -%}
            <p class="mdc-typography--subtitle2">{{ sDataStatement.name }}</p>

            {%- assign sDataStandards = sDataStatement.items | group_by: "KEY" -%}
            {%- for sDataStandard in sDataStandards -%}
            <article class="mdc-card mdc-card--outlined" data-ccss="{{ sDataStandard.name | slugify }}">
              <dl class="mdc-card__primary">
                <dt>{{ sDataStandard.name }}</dt>

                {%- for sDataStandardItem in sDataStandard.items -%}
                {%- capture cDataStandard -%} {{ sDataStandardItem["Standard"] }} {%- endcapture -%}

                <dd>{{ sDataStandardItem["Description"] }}</dd>
                {%- endfor -%}

              </dl>

              {%- for tDataStandards in TEXT -%}
              {%- if tDataStandards.name == sDataStandard.name -%}
              {%- assign tDataCorrelationsCount = tDataStandards.items | size -%}
              <div class="mdc-card__actions">
                <div class="mdc-card__action-buttons">
                  <button class="mdc-button mdc-card__action mdc-card__action--button" data-mdc-drawer="{{ "NAV" | append: tDataStandards.name | remove: "." }}">
                    <span class="mdc-button__label">
                      {%- if tDataCorrelationsCount < 2-%}
                      {{ " Resource" | prepend: tDataCorrelationsCount }}
                      {%- else -%}
                      {{ " Resources" | prepend: tDataCorrelationsCount }}
                      {%- endif -%}
                    </span>
                  </button>
                </div>

                {%- for kDataStandards in KHAN -%}
                {%- if kDataStandards.name == sDataStandard.name -%}
                <div class="mdc-card__action-icons">
                  <button class="material-icons mdc-icon-button mdc-card__action mdc-card__action--icon" title="khan academy exercises">more_vert</button>
                </div>
                {%- endif -%}
                {%- endfor -%}

              </div>
              {%- endif -%}
              {%- endfor -%}

            </article>

            {%- if forloop.last -%}

            {%- for englishAlignment in englishAlignments -%}
            {%- if englishAlignment.name contains cDataStandard -%}
            {%- assign sDataEnglishStandards = englishAlignment.items | group_by: "KEY" -%}

            {%- for sDataEnglishStandard in sDataEnglishStandards -%}
            <article class="mdc-card mdc-card--outlined" data-ccss="{{ sDataEnglishStandard.name | slugify }}">
              <dl class="mdc-card__primary">
                <dt>{{ sDataEnglishStandard.name }}</dt>

                {%- for sDataEnglishStandardItem in sDataEnglishStandard.items -%}
                <dd>{{ sDataEnglishStandardItem["Description"] }}</dd>
                {%- endfor -%}

              </dl>
            </article>
            {%- endfor -%}

            {%- endif -%}
            {%- endfor -%}

            {%- endif -%}

            {%- endfor -%}
            {%- endfor -%}

          </section>
          {%- endfor -%}

          <aside>
            <h2>Related</h2>

            <!-- aside content in here -->
          </aside>
        </div>
      </div>
    </main>
  </div>

  <footer>
    <!-- footer content in here -->
  </footer>

  {%- for tDataStandards in TEXT -%}
  {% capture tStandard %} {{ tDataStandards.name | slugify }} {%- endcapture -%}
  <aside id="{{ "NAV" | append: tDataStandards.name | remove: "." }}" class="mdc-drawer mdc-drawer--dismissible mdc-top-app-bar--fixed-adjust">
    <div class="mdc-drawer__header">
      <h2 class="mdc-drawer__title">{{ tDataStandards.name }}</h2>
      <span class="mdc-drawer__subtitle">Text Correlations</span>
    </div>
    <div class="mdc-drawer__content">

      {%- assign tDataCorrelations = tDataStandards.items | group_by: "Source" -%}
      {%- for tDataCorrelation in tDataCorrelations -%}
      <hr class="mdc-list-divider mdc-list-divider--inset">
      <p id="{{ "Nav" | append: tStandard | slugify }}" class="mdc-list-group__subheader">{{ tDataCorrelation.name }}</p>
      <ul class="mdc-list mdc-list--two-line mdc-list--non-interactive" role="listbox" aria-labelledby="{{ "Nav" | append: tStandard | slugify }}">

        {%- for tDataCorrelationItem in tDataCorrelation.items -%}
        <li class="mdc-list-item">
          <span class="mdc-list-item__text">
            <span class="mdc-list-item__primary-text">{{ tDataCorrelationItem["Lesson"] }}</span>
            <span class="mdc-list-item__secondary-text">{{ tDataCorrelationItem["Page"] }}</span>
          </span>
        </li>
        {%- endfor -%}

      </ul>
      {%- endfor -%}

    </div>
  </aside>
  {%- endfor -%}

  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.js"></script>
  <script type="text/javascript">
    window.mdc.autoInit();

    const list = new mdc.list.MDCList(document.querySelector('.mdc-list'));
    list.singleSelection = true;

    const select = new mdc.select.MDCSelect(document.querySelector('.mdc-select'));
    select.listen('MDCSelect:change', () => {
      window.location = select.value;
    });

    document.addEventListener('click', function (event) {

    	if (event.target.matches('button')) {
    		// Run your code to open a modal

        console.log(el.attribute.value);
    	}

    	if (event.target.matches('.close')) {
    		// Run your code to close a modal
    	}

    }, false);


    //const drawer = new mdc.drawer.MDCDrawer.attachTo(document.querySelector('.mdc-drawer--dismissible'));
    //const button = document.querySelectorAll('button');
    //for (let i = 0; i < button.length; ++i) {
    //  button[i].addEventListener('click', (evt) => {
//
    //    var checkbox = evt.value;
    //    console.log(checkbox + " changed to " + checkbox);
//
    //    let drawer = mdc.drawer.MDCDrawer.attachTo(document.querySelector('#NAV4NBT4'));
  //      drawer.open = !drawer.open;
    //  });
  //  }

  </script>

</body>

</html>
