<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body class="mdc-typography">

  {%- assign default_paths = site[page.collection] | map: "path" -%}
  {%- assign domains = site.domains[page.collection] | default: default_paths -%}

  <div class="mdc-drawer-app-content">
    <header class="mdc-typography--body1">
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell">
            <h1 class="mdc-typography--headline3">{{ page.title }}</h1>
            {{ content }}
          </div>
        </div>
      </div>
    </header>
    <main class="mdc-typography--body1">
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell">
            <section class="mdc-list-group">

              {%- for domain in site.sorted_domains -%}
              {% assign CCRStandards = site.data.CCRStandardsAdultEd[page.title] |
              where: "Domain", domain |
              group_by: "Domain" -%}
              {%- for sDataDomain in CCRStandards -%}
              <h2 class="mdc-list-group__subheader">{{ sDataDomain.name }}</h2>
              <ul class="mdc-list mdc-list--non-interactive">

                {%- assign sDataStatements = sDataDomain.items | group_by: "Statement" -%}
                {%- for sDataStatement in sDataStatements -%}
                <li class="mdc-list-item" tabindex="0">
                  <span class="mdc-list-item__text">{{ sDataStatement.name }}</span>
                </li>
                {%- endfor -%}

              </ul>
              {%- endfor -%}
              {%- endfor -%}

            </section>
            <aside>
              <h2>Related</h2>

              <!-- aside content in here -->
            </aside>
          </div>
        </div>
      </div>
    </main>
  </div>

</body>

</html>
