<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body class="mdc-typography">

  {%- if page.collection == "mathematics" -%}
  {% assign englishAlignments = site.data.CCRStandardsAdultEd["English"] |
  group_by: "mStandards" -%}

  {%- elsif page.collection == "reading" -%}
  {% assign englishAlignments = site.data.CCRStandardsAdultEd["English"] |
  group_by: "rStandards" -%}

  {%- elsif page.collection == "writing" -%}
  {% assign englishAlignments = site.data.CCRStandardsAdultEd["English"] |
  group_by: "wStandards" -%}

  {%- elsif page.collection == "language" -%}
  {% assign englishAlignments = site.data.CCRStandardsAdultEd["English"] |
  group_by: "lStandards" -%}

  {%- endif -%}

  {%- assign Collection = page.collection | capitalize -%}
  {%- assign domains = site.sorted_domains[page.collection] | default: default_paths -%}

  <aside class="mdc-drawer mdc-top-app-bar--fixed-adjust" style="display:none;">
    <div class="mdc-drawer__header">
      <!-- h2 class="mdc-drawer__title">{{ page.collection | capitalize }}</h2 -->
      <div class="mdc-select mdc-select--outlined">
        <i class="mdc-select__dropdown-icon"></i>
        <select id="nav1" class="mdc-select__native-control" name="nav1">
          <option value=""></option>
          {%- for collection in site[page.collection] -%}
          <option value="{{ collection.url | relative_url }}" {%- if page.url==collection.url %} selected {%- endif -%}>
            {{ "Level " | append: collection.CCRS }}
          </option>
          {%- endfor -%}
        </select>
        <div class="mdc-notched-outline mdc-notched-outline--notched">
          <div class="mdc-notched-outline__leading"></div>
          <div class="mdc-notched-outline__notch">
            <label class="mdc-floating-label {%- if page.url==collection.url %} mdc-floating-label--float-above {%- endif -%}" for="nav1">{{ page.collection | capitalize }} Standards</label>
          </div>
          <div class="mdc-notched-outline__trailing"></div>
        </div>
      </div>
    </div>
    <div class="mdc-drawer__content">
      <nav class="mdc-list" role="listbox" aria-labelledby="nav2">
        <h3 id="nav2" class="mdc-list-group__subheader">Standard Domains</h3>
        {%- for domain in domains -%}

        {% assign CCRStandards = site.data.CCRStandardsAdultEd[Collection] | where: "Domain", domain | group_by: "Domain" -%}
        {%- for sDataDomain in CCRStandards -%}
        <a class="mdc-list-item" href="#{{ sDataDomain.name | slugify }}" role="option" {%- if forloop.first %} tabindex="0" {%- endif -%}>
          <span class="mdc-list-item__text">{{ sDataDomain.name }}</span>
        </a>
        {%- endfor -%}
        {%- endfor -%}
      </nav>
    </div>
  </aside>

  <div class="mdc-drawer-app-content">
    <header>
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell">
            <h1>{{ page.title }}</h1>
            {{ content }}
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell">

            {%- if page.title == "Mathematics" -%}

            <a class="mdc-button" href="{%- link math-content.md -%}">Mathematical Content</a>
            <a class="mdc-button" href="{%- link math-practice.md -%}">Mathematical Practice</a>

            {%- else -%}

            {%- for domain in domains -%}

            {%- if page.title == "Mathematical Content" -%}
            {% assign CCRStandards = site.data.CCRStandardsAdultEd[Collection]
              | where_exp: "item", "item.Domain == domain"
              | where_exp: "item", "item.Strand != 'MP'" | group_by: "Domain" -%}

            {%- elsif page.title == "Mathematical Practice" -%}
            {% assign CCRStandards = site.data.CCRStandardsAdultEd[Collection]
              | where_exp: "item", "item.Domain == domain"
              | where_exp: "item", "item.Strand == 'MP'" | group_by: "Domain" -%}

            {%- else -%}
            {% assign CCRStandards = site.data.CCRStandardsAdultEd[Collection]
              | where: "Domain", domain | group_by: "Domain" -%}

            {%- endif -%}

            {%- for sDataDomain in CCRStandards -%}

            {%- if page.title == "Mathematical Content" -%}
            {%- assign sDataStandards = sDataDomain.items | group_by: "CCRS" | sort: "name" -%}

            {%- else -%}
            {%- assign sDataStandards = sDataDomain.items | group_by: "Standard" | sort: "name" -%}

            {%- endif -%}

            <section id="{{ sDataDomain.name | slugify }}">
              <h2>{{ sDataDomain.name }}</h2>

              {%- for sDataStandard in sDataStandards -%}
              <article class="mdc-card mdc-card--outlined" data-anchor="{{ page.collection }}">
                <dl class="mdc-card__primary">

                  {%- if page.title == "Mathematical Content" -%}
                  <dt>{{ "Level " | append: sDataStandard.name }}</dt>

                  {%- elsif page.title == "Mathematical Practice" -%}
                  <dt>{{ "MP." | append: sDataStandard.name }}</dt>

                  {%- else -%}
                  <dt>{{ "Anchor Standard " | append: sDataStandard.name }}</dt>

                  {%- endif -%}

                  {%- assign sDataStatements = sDataStandard.items | group_by: "Statement" -%}
                  {%- for sDataStatement in sDataStatements -%}
                  <dd>{{ sDataStatement.name }}</dd>
                  {%- endfor -%}

                </dl>

                {%- for englishAlignment in englishAlignments -%}
                {%- if englishAlignment.name contains sDataStandard.name -%}
                {%- assign sDataEnglishStandards = englishAlignment.items | group_by: "Standard" -%}

                {%- for sDataEnglishStandard in sDataEnglishStandards -%}
                <aside class="mdc-card mdc-card--outlined" data-anchor="english">
                  <dl class="mdc-card__primary">
                    <dt>{{ "ELP Standard " | append: sDataEnglishStandard.name }}</dt>

                    {%- assign sDataEnglishStatements = sDataEnglishStandard.items | group_by: "Statement" -%}
                    {%- for sDataEnglishStatement in sDataEnglishStatements -%}
                    <dd>{{ sDataEnglishStatement.name }}</dd>
                    {%- endfor -%}

                  </dl>
                </aside>
                {%- endfor -%}

                {%- endif -%}
                {%- endfor -%}

              </article>
              {%- endfor -%}

            </section>
            {%- endfor -%}
            {%- endfor -%}
            {%- endif -%}

            <aside>
              <h2>Related</h2>

              <!-- aside content in here -->
            </aside>
          </div>
        </div>
      </div>
    </main>
  </div>

  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.js"></script>
  <script type="text/javascript">
    window.mdc.autoInit();

    const list = new mdc.list.MDCList(document.querySelector('.mdc-list'));
    list.singleSelection = true;

    const select = new mdc.select.MDCSelect(document.querySelector('.mdc-select'));
    select.listen('MDCSelect:change', () => {
      window.location = select.value;
    });

    var buttons = document.getElementsByClassName('mdc-button');
    for (var i=0 ; i < buttons.length ; i++){
      (function(index){
        buttons[index].onclick = function(){
          let drawer = mdc.drawer.MDCDrawer.attachTo(document.querySelector('#NAV' + this.value));
          drawer.open = !drawer.open; // mdc-drawer--dismissible
          // drawer.open = true // mdc-drawer--modal
        };
      })(i)
    }

  </script>

</body>

</html>
